discord.py[voice]==2.7.1
aiosqlite==0.20.0
python-dotenv==1.0.1
asyncpg==0.30.0
yt-dlp
imageio-ffmpeg==0.5.1
aiohttp==3.12.14
Pillow==10.4.0
qrcode[pil]==7.4.2
humanfriendly==10.0
python-dateutil==2.9.0.post0
rapidfuzz==3.9.6
edge-tts==7.2.3
